{% extends 'header_jumbotron.html' %}

{% block main_content %}



 <div class="jumbotron">
      <div class="container">

  <div class="bs-example">
    <ul class="nav nav-tabs nav-justified">
      <li><a href="/emotion?q={{q}}">Tweet View</a></li>
      <li class="active"><a href="/emotion/macro?q={{q}}">Macro View</a></li>
    </ul>
    <br>
  </div>     
      <div class="tweets">


   {% for li in ans %}

      {% for l in li.emotion %}
      
  {% if l == 'disgust' %} 
      <button type="button" class="btn btn-info">  {{ l }} </button>


 {% elif l == 'anger' %} 
      <button type="button" class="btn btn-danger">  {{ l }} </button>
 

 {% elif l == 'fear' %} 
      <button type="button" class="btn btn-warning">  {{ l }} </button>
  

 {% elif l == 'trust' %} 
      <button type="button" class="btn btn-success">  {{ l }} </button>
  

 {% elif l == 'anticipation' %} 
      <button type="button" class="btn btn-primary">  {{ l }} </button>
  

 {% elif l == 'joy' %} 
      <button type="button" class="btn btn-success">  {{ l }} </button>
  

 {% elif l == 'surprise' %} 
      <button type="button" class="btn btn-default">  {{ l }} </button>
  

 {% elif l == 'sadness' %} 
      <button type="button" class="btn btn-danger">  {{ l }} </button>
 

 {% elif l == 'positive' %} 
  
<div class="btn-group dropup">
  <button type="button" class="btn btn-default">Positive</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <!-- Dropdown menu links -->
    <li> <a href="#">  Action </a> </li>
    <li> <a href="#"> Another Action </a> </li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  
  </ul>
</div>
 

 {% elif l == 'negative' %} 
  
<div class="btn-group">
  <button type="button" class="btn btn-default"> Negative </button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
 
  {% endif %}

      {% endfor %}

   <div class="bs-example">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Tweet Text</th>
          <th>User Name</th>
          <th>Time and Date</th>
        </tr>
      </thead>
      <tbody>
      
        <tr>
     
          <td> <div class="well">{{ li.tweet.text }} </div> </td> 
          <td> {{ li.tweet.user }} </td>
          <td> {{ li.tweet.date }}</td>
        </tr>
     
       
      </tbody>
    </table>
  </div>


  {% endfor %}   
      
      </div>
       </div>
 </div>




{% endblock main_content %}
